/Week1/pract1/nbproject/private/
/Week1/pract1/build/
/Week1/pract2/nbproject/private/
/Week 2/Pract_1/nbproject/private/
/Week 2/Pract_1/build/
/Week 2/pract_2/nbproject/private/
/Week 2/pract_2/build/