/Week1/pract1/nbproject/private/
/Week1/pract1/build/
/Week1/pract2/nbproject/private/
/Week 2/Pract_1/nbproject/private/
/Week 2/Pract_1/build/
/Week 2/pract_2/nbproject/private/
/Week 2/pract_2/build/
/Week 2/JavaApplication6/nbproject/private/
/Week 3/classes/nbproject/private/
/Week 3/classes/build/
/Week 3/Inheritance/nbproject/private/
/Week 3/Inheritance/build/
/Week 4/interface/nbproject/private/
/Week 4/interface/build/
/Week 5/pract1/nbproject/private/
/Week 5/pract1/build/
/Week 5/Pract/nbproject/private/
/Week 5/Pract/build/
/Week 6/Pract 1/nbproject/private/
/Week 6/Pract 1/build/
/Main Project/main/nbproject/private/
/Main Project/main/build/
/Main Project/main/dist/